[Unit]
Description=UwUssimo Minecraft Server
After=network.target

[Service]
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft
ExecStart=/usr/bin/java -Xmx5120M -Xms1024M -jar server.jar nogui
ExecStop=/usr/bin/mcrcon -H owo.uwussi.moe -P 25575 -p "$RCONPASS" stop

[Install]
WantedBy=multi-user.target
